.list {
  margin: 0;
  padding-left: 0;
  margin-top: 10px;

  list-style: none;
}

.item {
  display: flex;
  margin-bottom: 10px;
  max-width: 400px;
  font-size: 16px;
  font-weight: 700;
  color: #00a6ff;
}

.btn {
  width: 60px;
  font-size: 12px;
  margin-left: auto;
  padding: 2px 10px 3px 10px;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 500;
  border: transparent;
  background-color: #ffffff;
  color: #00a6ff;

  box-shadow: 5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
    -5px -5px 10px #fdfdfd, inset 5px 5px 8px -4px #fdfdfd;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  box-shadow: 5px 5px 10px #c9c9c9, inset -5px -5px 8px -4px #c9c9c9,
    inset -6px -6px 8px 0 #fdfdfd, -5px -5px 10px #fdfdfd,
    inset 5px 5px 8px -4px #fdfdfd, inset 6px 6px 8px 0 #c9c9c9;
}

.contact {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 3px;
  width: 16px;
  color: #ff6347;
}

.name {
  margin-right: 5px;
}
