.form {
  box-sizing: border-box;
  border: 2px ridge #ff6347;
  width: 400px;
  padding: 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ff6347;
  font-size: 16px;
  font-weight: 700;
}

.name {
  margin-left: 30px;
  width: 240px;
}

.number {
  margin-left: 14px;
  width: 240px;
}

.icon {
  margin-right: 10px;
  width: 16px;
  color: #00a6ff;
}

.btn {
  display: block;
  width: 90px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 10px 3px 10px;
  border-radius: 9px;
  font-size: 12px;
  font-weight: 500;
  border: transparent;
  background-color: #ffffff;
  color: #ff6347;
}

.btn:hover {
  cursor: pointer;
  color: #00a6ff;
}

.btn:active {
  background-color: #ff6347;
  color: #ffffff;
}
