.list {
  margin: 0;
  padding-left: 0;
  margin-top: 10px;

  list-style: none;
}

.item {
  margin-bottom: 10px;
  display: flex;
}

.btn {
  width: 60px;
  font-size: 12px;
  margin-left: auto;
  padding: 2px 10px 3px 10px;
  border-radius: 8px;
  background-color: #ffffff;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffc2c2;
}

.btn:active {
  background-color: #f81010;
  color: #ffffff;
}
